<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cedula</th>
        <th scope="col">Años</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="est in estudiantes">
        <th scope="row">1</th>
        <td>{{nombreEstudiante1}}</td>
        <td>{{cedulaEstudiante1}}</td>
        <td>{{edadEstudiante1}}</td>
        <td><button class="btn btn-danger" (click)="setMensajeConfirmacion()">Eliminar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{nombreEstudiante2}}</td>
        <td>{{cedulaEstudiante2}}</td>
        <td>{{edadEstudiante2}}</td>
        <td><button class="btn btn-danger" (click)="setMensajeConfirmacion()">Eliminar</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{nombreEstudiante3}}</td>
        <td>{{cedulaEstudiante3}}</td>
        <td>{{edadEstudiante3}}</td>
        <td><button class="btn btn-danger" (click)="setMensajeConfirmacion()">Eliminar</button></td>
      </tr>
    </tbody>
  </table>